In [6]:
newInteger = 34
newInteger

34

In [8]:
week1 = 23
week1
#integer is a whole, positive number

23

In [5]:
newnumberFloat = 4.24
anotherNumber = 2/4

anotherNumber

#float numbers are used for fractions/decimals or negative numbers

0.5

In [7]:
newVar_text = "Hello World"
newVar_text
#these are text strings

#use hashtags for comments, might want to come up with a hashtag system for ease of use
##for citing information add what you searched + the website

'Hello World'

In [15]:
classEx1 = 5*(4 + 10/11) - (5 + 13/15) + 2**(6*1/3)-(11/12)
print(newVar_text)
classEx1

#make sure this goes in order of operations PEMDAS!!
#print() allows you to print regardless of where it is in code

Hello World

21.76212121212121

In [1]:
#comparisons

1 > 5 

#this is called a booleans - represent either true or false statements

False

In [3]:
5 > 1

True

In [8]:
name1 = "emma"
name2 = "bailey"

#alphabetical first - strings 
name1 > name2

#to use length of name instead

len(name1) > len(name2)

False

In [12]:
#can make if then statements
#if starts the if statement, elif is the "or" / rest of them that is not specified in comparison
#else is a third category, ie there are no more if then statements
if name1 == name2:
    print("They are the same")
elif name1 < name2:
    print(name1 + " is shoter than " + name2)
else: 
    print(name1 + " comes after " + name2)

emma comes after bailey

In [17]:
#first set the age
age = 25

# and = both statements must be true ; or = only one statement must be true

if(age < 30) and (age >= 20):
    print("you are in your twenties!")
else:
    print("You are not in your twenties")

you are in your twenties!

In [24]:
#automoations - also known as loops or iterations

#lists can have any type of number 
#position matters 
newList = [1, 2, "hello", 9.42, ["h", "e", "l", "l", "o"]]
print(newList)

#position: 1 is at indice 0, 2 is indice 1, etc

[1, 2, 'hello', 9.42, ['h', 'e', 'l', 'l', 'o']]

In [25]:
#calling a specific indice

newList[2]

newList[4][2]

'l'

In [28]:
#for loop

for item in newList:
    print(item)
    print(type(item))

1
<class 'int'>
2
<class 'int'>
hello
<class 'str'>
9.42
<class 'float'>
['h', 'e', 'l', 'l', 'o']
<class 'list'>